{
    "presets": [
        "@babel/preset-react", "@babel/plugin-proposal-private-property-in-object"
    ],
    "plugins": ["@babel/plugin-syntax-jsx", "@babel/plugin-proposal-private-property-in-object"]
  }