header {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 5rem;
}

.nav-items {
    list-style: none;
    display: flex;
    gap: 2rem;
}

 .link {
    text-decoration: none;
}

.navbar a:hover,
.navbar .active {
  color: #9ad0cf;
  border-bottom: 2px solid #02bab7;
}