.rockets {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rocket {
  display: flex;
  gap: 3rem;
}

.rocket-img {
  width: 15rem;
}

.rocket-info {
  display: flex;
  flex-direction: column;
}

.rocket-reserved {
  background-color: rgb(4, 158, 158);
  border-radius: 5px;
  color: white;
  padding: 2px;
  font-weight: 500;
  font-size: 0.8rem;
}

.btn-cancel {
  width: 11rem;
  background-color: white;
  color: rgb(102, 102, 102);
  border: 1px solid black;
  font-size: 1rem;
  padding: 8px;
  border-radius: 6px;
}

.btn-cancel:hover {
  background-color: rgb(208, 208, 208);
}

.btn-reserve {
  width: 9rem;
  font-size: 1rem;
  background-color: rgb(16, 145, 250);
  color: white;
  border: none;
  padding: 8px;
  border-radius: 5px;
}
