.rockets {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.rocket {
  display: flex;
  gap: 3rem;
}

.rocket-img {
  width: 15rem;
}

.rocket-info {
  display: flex;
  flex-direction: column;
}

.rocket-reserved {
  background-color: rgb(4, 158, 158);
  border-radius: 5px;
  color: white;
  padding: 2px;
  font-weight: 500;
}

.btn-reserve {
  width: 8rem;
}
